@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 5s ease-in-out infinite;
}

.animate-pulse {
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

body {
  @apply font-sans; /* Apply the Quicksand font globally */
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars when Three.js renders */
}

canvas {
  display: block; /* Prevents the canvas from being an inline element */
}
